@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
